version: "3.9"

services:
  robot_service:
    build: .
    extra_hosts:
      - "host.docker.internal:host-gateway"
    container_name: robot_service
    ports:
      - "3001:3000"
    environment:
      #- ROBOT_SERVICE_HOST=host.docker.internal
      #- ROBOT_SERVICE_PORT=8080
      - POSTGRES_HOST=${DB_HOST}
      - POSTGRES_PORT=${DB_PORT}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    depends_on:
      - postgres
    volumes:
      - .:/app

  postgres:
    image: postgres:15-alpine
    container_name: postgres
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    ports:
      - "5434:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:

